<% layout('layouts/boilerplate') %>

<h1>User Registration Form</h1>

<form action="/register" method="POST" class="validated-form" novalidate>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="user[username]" id="username" required />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please enter a valid, unique username.</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="user[email]" id="email" required />
    <div class="valid-feedback">Looks good!</div>
    <div class="invalid-feedback">Please enter a valid email address.</div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" name="user[password]" id="password" required />
    <div class="valid-feedback">Password looks good!</div>
    <div class="invalid-feedback">Please enter a valid password.</div>
  </div>

  <button class="btn btn-success">Register</button>
</form>
